.colored-section {
  background-color: #fe0000;
}
.container-fluid {
  padding-left: 15%;
  padding-right: 15%;
}

.trade-winds-regular {
  font-family: "Trade Winds", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.navbar-brand {
  color: #fff;
  font-size: 3.5em;
  font-weight: bold;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-nav li {
  margin-left: 40px;
  font-size: 1.5rem;
}

.navbar-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.navbar-nav a:hover {
  color: #ddd;
}
/* general  */
.general-container{
    margin: 0 10%;
}

/* carousel  */

.carousel-container {
  position: relative;
  max-width: 40%;
  margin: 20px 0;
  overflow: hidden;
  border-radius: 8px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-image {
  min-width: 100%;
  height: auto;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 3;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/* name  */
.name{
    margin: 5% 0;
}
.gift{
    border: 1px solid black;
}
.gift-head{
    padding: 0 20px;
    background-color: red;
    color: white;
}

/* tskt  */
.tskt-list{
    font-size: 20px;
}

/* Footer */
.footer {
  background-color: #2e2e2e;
  color: #fff;
  padding: 40px 0;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  width: 20%;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  font-size: 0.9em;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #fff;
}

.contact p {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.contact p i {
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 1.5em;
  margin-right: 15px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ddd;
}

.scroll-to-top {
  position: absolute;
  right: 30px;
  bottom: 30px;
  background-color: #f44336;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.scroll-to-top:hover {
  background-color: #d32f2f;
}
